footer{ 
    position: relative;
    width: 100%; 
    height: 60px;
    right: 0;
    left: 0;
    bottom: 0; 
    border-top: 2px solid #E0DBDB;
    background-color: #FAFAE6;
    z-index: 1;
    margin: 0;
}

#socialMedia{
    float: right;
    margin-top: 7px;
    margin-right: 150px;
}

#copyright{
    display: block;
    font-size: 13px;
    line-height: 5px;
    float: left;
    margin-top: 15px;
    margin-left: 5px;
}

.fa {
    padding: 14px;
    font-size: 18px;
    width: 12px;
    text-align: center;
    text-decoration: none;
    border-radius: 40%;
}

/* .fa:hover {
    opacity: 0.1;
    font-size: 36px;
    width: 25px;
}  */

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #D64BAD;
    color: white;
}
