		html,body,div.carousel_wrapper{
				background: #FFFFFF;
				color: #707070;
		}
		body,main,div.carousel_wrapper{
			margin: 0;
			padding: 0;
			font-family: 'Roboto', 'Montserrat', sans-serif;
			font-size: 16px;
		}
		html, body, nav, .header_wrapper, .double_dotted_line, .carousel_wrapper{
			width: 100%;
		}
		nav, .header_wrapper, .logo, .nav, .double_dotted_line, .nav_wrapper, .carousel_wrapper, .carousel{
			box-sizing: border-box;
		}
		nav, .logo, .nav_wrapper{
			margin: 0 auto;
		}
		nav{
			position: absolute;
			bottom: 0;
		}
		ul, li {
			list-style-type: none;
		}
		.header_wrapper{
			position: relative;
			height: 230px;
			background: #F3EFEC url(images/layout/bg_pattern.jpg);
			box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
			/*border: 2px solid black;*/
		}
		.logo{
			display: block;
			/*border: 2px solid blue;*/
			width: 800px;
		}
		.double_dotted_line{
			height: 5px;
			border-top: 1.5px dotted #CACACA;
			border-bottom: 1.5px dotted #CACACA;
		}
		/*Елементи на главното меню*/
		.nav{
			float: left;
			position: relative;
			display: inline-block;
			height: 50px;
			padding-left: 32px;
			padding-right: 32px;
		}
		.nav_wrapper{
			position: relative;
			/*width: 1100px;*/
			height: 50px;
			/*border: 1px solid black;*/
		}
		li.nav>a{
			font-size: 1em;
			font-weight: 500;
			color: #757575;
			text-transform: uppercase;
			text-decoration-line: none;
			letter-spacing: 0.5px;
			text-align: left;
			vertical-align: middle;
			line-height: 50px;
		}
		li>a:hover{
			color: #692743;
		}
		ul.clear::after{
			/*content: ".";*/
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;
		}
		/*Елементи на падащото меню*/
		nav>ul>li>ul.drop-down_block{
			position: absolute;
			top: 50px;
			left: 0;
			z-index: 1;
			display: none;
			width: 15em;
			background: #f4f0ed;
			border-top: 0.25em solid #692743;
		}
		nav>ul>li:hover>ul.drop-down_block{
			display: block;
		}
		li.nav>ul>li{
			padding: 0.5em 0.5em;
			border-bottom: 1.3px dotted #FFFFFF;
		}
		li.nav>ul>li>a:hover{
			font-weight: 500;
			color: #692743;
		}
		li.nav>ul>li>a{
			font-size: 1em;
			font-weight: 400;
			text-decoration-line: none;
			text-align: left;
			color: #757575;
		}