# all tmp/old files:
**/*.tmp
**/*.old
**/.tags*
**/.fuse*
**/*nohup*

*.sublime-workspace


/pages/themes/beginners/*/*
!/pages/themes/beginners/Appendix/**
!/pages/themes/beginners/*/*.html
!/pages/themes/beginners/*/*resources/
!/pages/themes/beginners/*/*resources/**
!/pages/themes/beginners/**/*examples/
!/pages/themes/beginners/**/*examples/**
!/pages/themes/beginners/**/*slides_examples/
!/pages/themes/beginners/**/*slides_examples/**
!/pages/themes/beginners/**/images/
!/pages/themes/beginners/**/images/**
!/pages/themes/beginners/**/homework*/
!/pages/themes/beginners/**/homework*/**
