# ignore everything
*

# allow only next:
!**/.gitignore
!apache_vhost_local.conf
!gh-pages.sublime-project
!/lib
!/lib/**
!/outfit
!/outfit/**
!/pages/themes/beginners/*/*.html
!/pages/themes/beginners/**/examples/**
!/pages/themes/beginners/**/images/**
