# ignore everything
*

# allow only next:
!**/.gitignore
!**/*.sublime-*
!/lib
!/lib/**
!/outfit/**
!/pages/themes/beginners/*/*.html
!/pages/themes/beginners/**/examples/**
!/pages/themes/beginners/**/images/**
