/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	menu alignment and positioning
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.main>li{
	float: left;
	width: 5em;
}
/*clear floats - should be done in header:*/
header:after{
	clear: both;
}
.level1,
.level2,
.level3{
	display: none;
	position: relative;
}
.level1>li,
.level2>li,
.level3>li{
	/*comment, if you want the sub-menus to align to the bottom of main menu*/
	position: relative;
}
.main>li:hover>.level1,
.level1>li:hover>.level2,
.level2>li:hover>.level3{
	display: block;
}
.level2, .level3{
	position: absolute;
	top:0;
	left:10em;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	elements styling
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
header{
	height: 8em;
	background: #555;
}
/*main menu items*/
nav{
	float: right;
	height: 2em;
	line-height: 2em;
	vertical-align: middle;
	background: #666;
	color: #CCC;
}
.level1>li>a,
.level2>li>a,
.level3>li>a{
	display: inline-block;
	width: 100%;
	height: 2em;
	line-height: 2em;
	vertical-align: middle;
	padding: .5em;
}

.main>li{
	width: 10em;
}
.main>li:hover{
	background: #7171A1;
}
.main>li>a{
	padding-left: .5em;
}

/*level1 menu*/
.level1{
	width: 10em;
	background:#6161A1;
	z-index: 10;
}
.level1>li:hover{
	background: #71A171;
	cursor: pointer;
}

/*level2 menu*/
.level2{
	width: 10em;
	background:#61A161;
	z-index: 11;
}
.level2>li:hover{
	background: #A17171;
	cursor: pointer;
}

/*level3 menu*/
.level3{
	width: 10em;
	background: #A16161;
	z-index: 13;
}

/*links*/
a:link{
	color: white;
	text-decoration: none;
}
a:visited{
	color: gray;
}
a:hover{
	text-decoration: underline;
}
