div{
	border: 2px outset orange;
	width: 35vw;
	margin: 4px;
	background-color: #D1C7C7;

}
img{
	width: 10vw;
}
.left{
	clear: both;
}
.right{
	clear: both;
}
.left>img{
	float: left;
}
.right>img{
	float: right;
	text-align: right;
}
#link{
	width: 5vw;
}