html, body, ol, ul, li{
	margin: 0;
	padding: 0;
}
ol>li{
	display: inline-block;
	width: 33vw;
	vertical-align: top;
}
ul>li{
	display: none;
	
}
ol>li>h3{
	margin: -2px;
	height: 2em;
	background-color: #666;
	color: #FFF;

}
h3:hover{
	color: #B8DBD6;
}
h3:hover~ul>li{
	display: block;
	list-style-type: none;
	background-color: #CCC;
	color: #000;
	font-size: 1em;
}