html, body, div, span, p{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	
}
body{
	background-color: #1E2445;
}
span::before{
	content: "{";
	color: rgba(103, 137, 171, .6);
}
span::after{
	content: "}";
	color: rgba(103, 137, 171, .6);
}
.shadow::before{
	content: "@";
	color: rgba(103, 137, 171, .6);
}
.par{
	margin: 10vh 20vw;
	font-size: 1.2em;
	color: #FFF;
}
.stars{
	text-align: center;
	color: #FFF;
	font-size: 4em;
	text-shadow:
	.01em .01em 1px #B266FF,
	.02em .02em 1px #B266FF,
	.03em .03em 1px #B266FF,
	.04em .04em 1px #B266FF,
	.05em .05em 1px #B266FF,
	.06em .06em 1px #B266FF,
	.07em .07em 1px #B266FF,
	.08em .08em 1px #B266FF,
	.09em .09em 1px #B266FF,
	.10em .10em 1px #B266FF,
	.11em .11em 1px #B266FF,
	.12em .12em 1px #B266FF,
	.13em .13em 1px #B266FF,
	.14em .14em 1px #B266FF,
	.15em .15em 1px #B266FF;
	
}
.shadow{
	height: 25vh;
	color: rgba(255, 255, 255, .8);
	font-size: 5em;
	border-bottom: 4px solid #B0F0FB;
	background-color: #C7BEBE;
	text-align: center;
	text-shadow: 
	-.01em .01em rgba(34, 47, 61, .5),
	-.02em .02em rgba(34, 47, 61, .5),
	-.03em .03em rgba(34, 47, 61, .5),
	-.04em .04em rgba(34, 47, 61, .5),
	-.05em .05em rgba(34, 47, 61, .5),
	-.06em .06em rgba(34, 47, 61, .5),
	-.07em .07em rgba(34, 47, 61, .5),
	-.08em .08em rgba(34, 47, 61, .5),
	-.09em .09em rgba(34, 47, 61, .5),
	-.1em .10em rgba(34, 47, 61, .5),
	-.11em .11em rgba(34, 47, 61, .5),
	-.12em .12em rgba(34, 47, 61, .5),
	-.13em .13em rgba(34, 47, 61, .5),
	-.14em .14em rgba(34, 47, 61, .5),
	-.15em .15em rgba(34, 47, 61, .5),
	-.16em .16em rgba(34, 47, 61, .5),
	-.17em .17em rgba(34, 47, 61, .5),
	-.18em .18em rgba(34, 47, 61, .5),
	-.19em .19em rgba(34, 47, 61, .5),
	-.20em .20em rgba(34, 47, 61, .5),
	-.21em .21em rgba(34, 47, 61, .5),
	-.22em .22em rgba(34, 47, 61, .5),
	-.23em .23em rgba(34, 47, 61, .5),
	-.24em .24em rgba(34, 47, 61, .5),
	-.25em .25em rgba(34, 47, 61, .5);
}