body{
	margin: 0;
	padding: 0;
}
header,footer{
	height: 10vh;
	background: #333;
	color: #EEE;
	font-size: 2em;
	text-align: center;
	padding: .5em 0;
	box-sizing: border-box;
}
main{
	/* to have the width calculated from its children */
	display: inline-block;

	/* center it (note that "margin:0 auto" would not work) */
	position: relative;
	left: 50%;
	transform: translateX(-50%);

	height: 80vh;
	background: gray;
}
.col{
	display: inline-block;
	vertical-align: top;

	height: 100%;
	width: 20vw;
}
.left{
	background: #F99;
}
.center{
	background: #9F9;
}
.right{
	background: #99F;
}