html, body, h1{
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
}
body{
	position: relative;
	height: 100%;
	font-family: 'Tillana', cursive;
	background-image: url(../images/unicorns.jpg);
	background-size: 100% 100%;
	background-color: #BAF3F8;
}
.welcome{
	position: absolute;
	top: 10rem;
	left: 30rem;
	font-size: 5em;
	color: #FFF;
	font-weight: 900;
	text-shadow: 
	1px 1px #90B9E7,
	2px 2px #90B9E7,
	3px 3px #90B9E7;
}
.link{
	opacity: 0;

}
.read{
	position: absolute;
	top: 12rem;
	left: 8rem;
	font-size: 2em;
}
.song{
	position: absolute;
	top: 9rem;
	right: 12rem;
	font-size: 1.5em;
}
.other{
	position: absolute;
	bottom: 11rem;
	right: 15rem;
}
.bio{
	position: absolute;
	bottom: 12rem;
	right: 35rem;
}
.link:hover{
	opacity: 1;
	color: #304243;
}