/*reset CSS*/
body,
p {
	margin: 0;
}
/*layout CSS*/
header,
footer {
	height: 10vh;
	background: #333;
	color: #DDD;
}
header > h1 {
	font-size: 100%;
	padding-top: 1em;
	margin: 0;
	text-align: center;
}
main {
	/*to remove the space between inline blocks*/
	font-size: 0;
}
/*the columns in main content*/
.left,
.right {	
	float: left;
	min-height: 80vh;	
	/*restore the font-size*/
	font-size: initial;
	border: 1px solid #666;
	box-sizing: border-box;
}
.left {
	width: 20%;
	background: #DAA;
}
.right {
	width: 60%;
	font-size: 50px;
	background: #ADA;
}
footer{
	clear: left;
}
