main{
	width: 80%;
	margin: 15% auto;
}
.pic{
	width: 13%;
}
.box{
	margin-top: 1em;
	height: 10em;
	border: .02em solid #FFFF9B;
}
.even{
	float: right;
	margin-right: .6em;
}
.odd{
	float: left;
	margin-left: .6em;
}