@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

body{
  background-color: #BB9099;
  color: #484444;
  width: 100%;
  font-family: 'Noto Serif', serif;
  font-size: 1.1em;
  box-sizing: border-box;
}

a{
	text-decoration: none;
	color: inherit;
}
a:link{
	color: white;
}
a:visited{
	color: white;
}
/*COLORS for the menu*/

.menu-title_2nd {
  background: #4e96b3;
}
.menu-title_2nd:hover {
  background: #3e86a3;
}
.menu-title_3rd {
  background: #c97676;
}
.menu-title_3rd:hover {
  background: #b96666;
}
.menu-title_4th {
  background: #FDEB71;
}
.menu-title_4th:hover {
  background: #E6D567;
}
