<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>3_columns</title>
    <link rel="stylesheet" type="text/css" href="3_columns.css">
    <script type="text/javascript" src="3_columns.js"></script>
    <base target="_blank">
</head>
<body>
	<header></header>
	<main>
		<aside class="left col">
			<nav>
				<ul></ul>
			</nav>
		</aside>
		<section class="center col"></section>
		<aside class="right col"></aside>
	</main>
	<footer>
		<div style="clear:both"></div>
	</footer>
</body>
</html>