
                    body{
                        font-family: serif;
                        color: gray;
                    }
                    h1{
                        text-align: center;
                        line-height: 3em;
                        background: burlywood;
                        border-radius: .5em;
                    }
                    h2{
                        margin-top: 2em;
                        font-style: italic;
                        border-bottom: 1px dotted burlywood;
                    }
                    ul{
                        width: 90%;
                        margin: 0 auto;
                        list-style-type: katakana;
                        font-family: sans-serif;
                    }
                    li{
                        margin-top: .7em;
                    }
                    .buletted{
                    		list-style-type: none;
                    }

