html {
	border-style: solid; 
	border-width: 5px;
	border-color: #778899;
	}
ul{
	padding: 0 ;
	font-size: 16px;
	}

h1 {
	color: #778899;
	border: 30px;
	background: #F8F8FF;
	font: 40px arial, sans-serif;

	text-align: center;
	padding-bottom: 25px;
	padding-top:15px;
	}

.f1{
	color: #F8F8FF;
	background: #778899;
	padding: 20px;
	}

.f2{
	color: #F8F8FF;
	background: #B0C4DE;
	padding: 20px;
	}