html{
	border: 20px white;
	
}
body{ 
	font-family: sans-serif;
	font-weight: bold;
	background-image: url("../images/raven-1002849_1280.jpg"); /*вмъква картинка за фон*/
	background-size: 100% 100%;
	background-repeat: no-repeat; 
	background-color: orange;
	border: 20px orange;я
	font: black;
	border-style: outset; /*3D рамка*/
}
h1 {
	font-size: 34px;
	font-weight: bold;
	color: orange;
	width: 50%;
	text-align: center;
	}
em{
	font-style: italic;
	letter-spacing: 2px;
}
.o1{
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	color: black;
	width: 50%;
	}
.no5{
	border-bottom: double;
	outline-width: 2px;
	color: orange;
}
p{
	text-indent: 5%;/* отмества първия ред навътре*/
	font-size: 20px; /*размер на шрифта*/
	font-weight: bold; 
	color: white; /*цвят на шршфта*/
	width: 50%;
	}
.l1{
	color: orange;
	font-size: 16px;
	width: 100%;
	}
.l2{
	color: black;
	}
