body,h1,p{
    margin: 0;
}
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 20vh;
    text-align: center;
    padding: 1em 0 0 0;
    background: #999;
    z-index: 1;
    box-sizing: border-box;
}
header>nav{
    position: absolute;
    bottom: 0; left: 0; right: 0;
    display: flex;
    justify-content: space-evenly;
    height: 3em;
    padding: 1em 1em 0 0;
    background: #333;
    box-sizing: border-box;
}
header>nav>a{
    display: block;
    width: 3em;
    color: #FFF;
}

main{
    height: 80vh;
    margin-top: 20vh;
}
main>section.pages{
    /*border: 5px solid yellow;
    box-sizing: border-box;*/
    height: 100%;
}
main>section.pages>article{
    height: 100%;
    padding: 1em;
    color: #FFF;
    transition: 1s;
    opacity: 0.5;
    box-sizing: border-box;
}
main>section.pages>article:focus{
    opacity: 1;
    outline: none;
}

main>section.pages>article:nth-child(1){background: hsla(0, 60%, 70%, 0.9)}
main>section.pages>article:nth-child(2){background: hsla(45, 60%, 70%, 0.9)}
main>section.pages>article:nth-child(3){background: hsla(90, 60%, 70%, 0.9)}
main>section.pages>article:nth-child(4){background: hsla(135, 60%, 70%, 0.9)}
main>section.pages>article:nth-child(5){background: hsla(180, 60%, 70%, 0.9)}