body{
	background-color: #F4F8B5;
	font: 18px times, serif;
}

#top{
	padding: 20px 30px;
	border-bottom: 5px double #994F4F;
	display: block;
}

#photo{
	width: 90px;
	height: 120px;
	margin-left: 5em;
	border-radius: 20%;
	float: hidden;
}

#name{
	margin-right: 19em;
	float: right;
}

.block{
	padding: 5px;
	display: block;
	border-bottom: 5px solid #994F4F;
	height: 200px;
}

h2{
	float: hidden;
}

.lists{
	float: right;
	list-style-type: none;
	line-height: 1.5;
}

.list0{
	margin-right: 35em;
	margin-top: -42px;
	margin-bottom: -100px;
	padding: 0;
}

.list1{
	margin-right: 27.5em;
	margin-top: -40px;
}

.list2{
	margin-right: 15em;
}

.list3{
	margin-right: 22em;
	margin-top: -30px;
}

.heading{
	font-weight: bold;
	font-style: italic;
	letter-spacing: 2px;
}