<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>EmptyMainWithParalax</title>
	<link rel="stylesheet" href="./main.css">
</head>
<body>
	<header>HEADER</header>
	<nav>NAV</nav>
	<main>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque tempore non nobis, at ullam molestiae ducimus eum, alias provident, officia voluptatem. Sit saepe fugit alias impedit aliquam incidunt harum eligendi.</p>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque tempore non nobis, at ullam molestiae ducimus eum, alias provident, officia voluptatem. Sit saepe fugit alias impedit aliquam incidunt harum eligendi.</p>

	</main>
	<footer>FOOTER</footer>
</body>
</html>