body,html{
	width: 100vw;
	height: 80vh;
	margin: 0;
	background-color: #E65A35;
}
.main{
	position: relative;
	box-sizing: border-box;
	margin-top: 20vh;
	margin-left: 15vw;
	width: 70vw;
	height: 50vh;
	border: 1px solid #FEFB08;
}
.square{
	position: absolute;
	top: 10%;
	bottom: 10%;
	left: 10%;
	right: 10%;
	border: 1px solid #FEFB08;
}
.yellow{
	position: absolute;
	top: 10%;
	bottom: 10%;
	left: 10%;
	right: 10%;
	background-color: #FEFB08;
}