div{
	width: 900px;
	background-image: url(../images/crow.jpg);
	background-size: 100% 100%;
	background-color: #7C6206;
	border-top: 20px solid #C8923D;
	border-left: 20px solid #C8923D;
	border-right: 20px solid #AB7C31;
	border-bottom: 20px solid #AB7C31;
	font-family: verdana, sans-serif;
}
h1{
	width: 500px;
	color: #D3BC7E;
	text-align: center;
	font-size: 32px;
	font-weight: normal;
}
h2{
	width: 500px;
	color: #3E310E;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	font-variant: small-caps;
	font-style: italic;
}
.poem{
	padding-left: 10px;
	color: #FFFFFF;
	font-size: 16px;
	text-indent: 20px;
}
.tic{
	font-style: italic;
	letter-spacing: 2px;
}
.twl{
	border-bottom-color: #F6BB06;
	border-bottom-style: groove;
}
.info{
	border-top-style: double;
	border-top-color: #D3BC7E;
	color: #D3BC7E;
	padding-left: 10px;
	font-size: 14px;
}
.credits{
	padding-left: 10px;
}