body{
	margin: 0;
	padding: 0;
	background: #BFBCBC;
}
.Profile-Card{
	width: 400px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	color: black;
}
.Header{
	width: 100%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
.Header img{
	width: 280px;
	height: 300px;position: absolute;left: 60px;
}
.Content{
	padding: 10px;
	overflow: hidden;
	text-align: center;
}
.Content h2{
	margin: 0 5px 0 0;
}
.Content ul{
	margin: 0;
	padding: 0;
}
.Content ul li {
	list-style: none;
	display: inline-block;
}
.Content ul li a {
	text-decoration: none;
	font-size: 24px;
	color: white;
	background: black;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	outline: none;
}
.Content ul li a:hover{
	transform: scale(1.2);
}
.Footer{
	width: 100%;
	height: 50px;
	background: #7792A5;
	position: relative;
	color: black;
}
.Footer:before{
	content: '';
	position: absolute;
	border-bottom: 20px solid transparent;
	border-right: 400px solid white;
	top: 0;
}
.Footer p {
	margin: 10px;
	padding: 25px;
	display: block;
	text-align: center;
}