body{
	background: url('../Images/Cape1.jpg') no-repeat;width: 1000px;height: 500px;
			background-position: center;
			background-size: 85em;
			position: relative;left: 200px;list-style: none;
}
.Sa{
	position: absolute;left: 400px;bottom: 400px;color: #23DBD9;font-style: italic;font-size: 36px;list-style: none;
}
p1{
	position: relative;left: 200px; font-size: 18px;
}