body{
	width: 800px;
}

body>h3{
	font-family: serif;
	font-size: 2em;
	text-align: center;
	padding: 20px;
	color: #65AAFF;
}
.quote+.heading{
	padding-top: 20px;
}
.quote{
	font-family: serif;
	font-size: 1.2em;
	color: white;
	padding: 10px 20px 20px 20px;
}
.odd{
	background-color: #65AAFF;
}
.even{
	background-color: #418FEF;
}