img{
  width: 20vh;
  margin: .5em;
}
div{
  width: 60vh;
  min-height: 20vh;
  border: 2px solid orange;
  margin: 10px;
  background-color: #D6C8B5;
  color: black;
}
.left>img{
	float: left;
}
.right>img{
	float: right;
}
p{
	padding: .5em;
}