html{
	background-color: #980A2F;
}
.container{
	position: relative;
	top:10%; left:0%;
	width: 100vw;
	height: 100vh;
}
.full{
	background-color: #F8EB56;
}

div{
	position: absolute;
	top: 10%; left: 10%;
	bottom: 10%; right: 10%;
	border:1px solid #F8EB56;
}
