body{
	background: linear-gradient(180deg,#A1FBC3,#14A14A);
}
.header-logo{
	background: #ECFD7C;
	border-bottom: 3px solid #3F6CFF;
}
.logo>span{
	font-size: 100%;
	line-height: 200%;
}

.paragraph1{	
	font-size: 130%;
	color: #535252;
}
.end::after {
  content: "\f069 \f069 \f069";
  font-family: FontAwesome;
  font-size: 150%;
  color: #ffff00;
  text-shadow: 
  	1px 0px rgba(238,221,130, .5), 
  	0px 1px rgba(238,221,130, .5), 
  	2px 1px rgba(238,221,130, .5), 
  	1px 2px rgba(238,221,130, .5), 
  	3px 2px rgba(238,221,130, .5), 
  	2px 3px rgba(238,221,130, .5), 
  	4px 3px rgba(238,221,130, .5), 
  	3px 4px rgba(238,221,130, .5), 
  	5px 4px rgba(238,221,130, .5), 
  	4px 5px rgba(238,221,130, .5), 
  	6px 5px rgba(238,221,130, .5), 
  	5px 6px rgba(238,221,130, .5), 
  	7px 6px rgba(238,221,130, .5);
}
