.box{
	width: 100px;
	height: 100px;
}
.red{
	position: absolute;
	top: 0;
	left: 0;
	background: red;
}
.red:hover{
	position: absolute;
	bottom: 0;
	right: 0;
	top: initial;
	left: initial;
	background: blue;
}