h1{
	/*font-size: 30px;
	font-weight: 900;
	font-family: 'Bad Script', cursive;
	font-variant: small-caps;*/


	font: font-style font-variant font-weight font-size/line-height font-family|caption|icon|menu|message-box|small-caption|status-bar|initial|inherit;
	font:  small-caps 900 30px  'Bad Script', cursive  ;
}
p{
	font-weight: bolder;
	font-family:  "Courier";
	font-size: 30px;
	text-indent: 100px;
}